$color-primary: #5a28ff;
$color-primary-alt: #7d73ff;
$color-secondary: #ff4f9a;
$color-accent: #00c7c7;
$color-background: #e9fffb;
$color-background-alt: #d8f6ff;
$color-text: #2d2363;
$color-light: #ffffff;
$color-anchor: $color-primary;

$font-family: "Baloo 2", sans-serif;
$font-weight-strong: 600;

$font-size-h1: 6rem;
$font-size-h2: 3rem;
$font-size-h3: 2rem;
$font-size-h4: 1.35rem;
$font-size-text: 1.1rem;

$border-radius: 14px;

:root {
  --color-primary: #{$color-primary};
  --color-primary-alt: #{$color-primary-alt};
  --color-secondary: #{$color-secondary};
  --color-accent: #{$color-accent};
  --color-background: #{$color-background};
  --color-background-alt: #{$color-background-alt};
  --color-text: #{$color-text};
  --color-light: #{$color-light};
  --color-anchor: #{$color-anchor};

  --font-family: #{$font-family};
  --font-weight-strong: #{$font-weight-strong};

  --font-size-h1: #{$font-size-h1};
  --font-size-h2: #{$font-size-h2};
  --font-size-h3: #{$font-size-h3};
  --font-size-h4: #{$font-size-h4};
  --font-size-text: #{$font-size-text};

  --border-radius: #{$border-radius};
}